/**************************
 *        GLOBALS         *
 **************************/
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'Roboto Slab', serif;
  color: #444;
  margin: 0;
  font-size: 80%;
  background: transparent url(../images/creampaper.png) repeat;
  height: 100%;
  min-height: 100%;
}
input {
  font-family: 'Roboto Slab', serif;
}
input[type="text"], input[type="password"] { outline: none; } }

a {
  color: #444;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
img {
  max-width: 100%;
}
h1.site-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}
h1.site-name a {
  text-decoration: none;
  color: black;
}
h1.site-name a:hover {
  border-bottom: 1px solid #c59d5e;
}


/**************************
 *         HEADER         *
 **************************/
.header {
  background: #222;
  color: white;
  text-align: center;
}
.header h2 {
  margin: 0;
  padding: 0;
}


/**************************
 *       NAVIGATION       *
 **************************/


/**************************
 *        SIDEBARS        *
 **************************/
.sidebar {
  float: left;
  width: 20%;
  padding: 2%;
  height: 100%;
  text-align: center;
}
.sidebar h2 {
  font-size: 22px;
}
.sidebar label,
.sidebar input.form-submit {
  display: none;
}
.sidebar input.form-text {
  margin: 0 auto;
  background: transparent;
  border: 1px solid #ccc;
  font-size: 20px;
  padding: 2% 3% 3%;
  width: 94%;
}
.sidebar ul {
  margin: 0;
  padding: 20px 0 0;
  margin: 0 auto;
  list-style: none;
}
.sidebar ul li {
  text-align: center;
  padding: 5px 0;
}
.sidebar ul li a {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.sidebar ul li a:hover {
  border-bottom: 1px solid #c59d5e;
}
.front h1.title {
  display: none;
}


/**************************
 *         CONTENT        *
 **************************/
.container {
  background: transparent url(../images/creampaper.png) repeat;
  overflow: hidden;
}
.content {
  float: right;
  width: 72%;
  padding: 2%;
  background: transparent url(../images/debutdark.png) repeat;
}
.info {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  padding: 4%;
  box-sizing: border-box;
  color: #222;
  font-size: 20px;
}
.info h3 {
  margin-top: 0;
}
.info a {
  color: #222;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}
.masonry-item:hover .info {
  background: white;
  display: inline;
  opacity: 0.8;
}
.views-exposed-form .views-exposed-widget {
  padding: 0;
  float: none;
}


/**************************
 *         FOOTER         *
 **************************/

/**************************
 *         MOBILE         *
 **************************/
@media all and (min-width: 320px) and (max-width: 767px) {
  .sidebar,
  .content {
    float: none;
    width: 100%;
    padding: 3%;
    margin: 0;
    box-sizing: border-box;
  }
  .sidebar ul {
    display: none;
  }
  .info, .info a {
    position: static;
    display: block;
    color: white;
  }
  .masonry-item:hover .info {
    background: transparent;
    display: block;
    opacity: 1;
  }
}

